<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL --><!-- suppress ALL -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.edmt.investoraplikasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".investor_LoginActivity"
            android:label="Investor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InvestorMainActivity" />
        <activity android:name=".investor_RegisterActivity" />
        <activity android:name=".investor_mapslahan" />
        <activity android:name=".investor_belislot" />
        <activity android:name=".investor_tarikuang" />
        <activity android:name=".profile_nav" /><!--
        <activity android:name=".a_verifikasi" />
        <activity android:name=".m_verifikasi" />-->
        <activity android:name=".v_verifikasi" />
        <activity android:name=".investor_verifikasi" />
    </application>

</manifest>